#Add mime type for *.ico files...
AddType image/vnd.microsoft.icon .ico

#Set expires dates...
<IfModule mod_expires.c>
  ExpiresActive on

  #Icon files (1 month)...
  ExpiresByType image/vnd.microsoft.icon "access plus 1 month"
  ExpiresByType image/x-icon "access plus 1 month"

  #Images files (7 days)...
  ExpiresByType image/jpeg "access plus 7 days"
  ExpiresByType image/jpg "access plus 7 days"
  ExpiresByType image/gif "access plus 7 days"
  ExpiresByType image/png "access plus 7 days"

  #CSS files (3 days)...
  ExpiresByType text/css "access plus 3 days"

  #JavaScript files (3 days)...
  ExpiresByType application/javascript "access plus 3 days"
  ExpiresByType application/x-javascript "access plus 3 days"

  #All other files (24 hours)...
  ExpiresDefault "access plus 24 hours"
</IfModule>

ErrorDocument 404 /404.php

<FilesMatch "\.inc$">
  Order Deny,Allow
  Deny from all
</FilesMatch>

#Redirect PAD download URL to current Frhed version...
Redirect permanent /Frhed-Setup.exe http://downloads.sourceforge.net/frhed/Frhed-1.6.0-Setup.exe

#Move screenshots...
Redirect permanent /screenshots/frhed_main_window.png http://frhed.sourceforge.net/sites/screenshots/frhed_main_window.png
Redirect permanent /screenshots/frhed_icon.png http://frhed.sourceforge.net/sites/screenshots/frhed_icon.png

#...
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /router.php [L]
</IfModule>